.Contact {
    background-color: seashell;
}

.header-container-contact {
    width: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
}

.header-title-contact {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 1rem;
}

.header-image-contact {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}

.image-overlay-contact {
  position: relative;
  width: 100%;
  height: 55vh;
  overflow: hidden;
}

.image-overlay-contact::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% transparency */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure the overlay is on top of the image */
}
