.container {
    position: relative;
    width: 100%; 
    max-width: 100%;
  }
  
  .background-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .registration-title{
    margin: 0;
    position: absolute;
    bottom: 160px;
    left: 9.8%;
    width: 534px;
    height: 0px;
    flex-shrink: 0;
    color: white;
    font-family: Literata;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.welcome-rectangle {
  background-color: #4c5442; 
  width: 100%; 
  text-align: center; 
  color: white; 
  font-size: 50px; 
  font-weight: 700;
  padding: 40px 0; 
}