.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    color: white;
    margin: 20px 40px;
  }
  
  .imagen-footer {
    width: 15%;
    height: auto;
    display: block;
  }
  
  .izquierda {
    text-align: left;
  }
  
  .derecha {
    text-align: right;
    white-space: nowrap;
    font-size: 18px; 
    color: black; 
    font-weight: bold; 
  }
