/* Set the HTML and body elements to fill the entire viewport height. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Create a container that fills the remaining vertical space. */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Make sure the footer stays at the bottom. */
.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: aliceblue;
  padding: 10px;
  color: black;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.imagen-footer {
  width: 15%;
  height: auto;
  display: block;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
}
