.Speakers{
    aspect-ratio: 16/9;

}

.Title{
    position: absolute;
    bottom: 160px;
    left: 9.8%;
    width: 534px;
    height: 145px;
    flex-shrink: 0;
    color: white;
    font-family: Literata;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.background{
    width: 1346px;
    height: 400px;

    flex-shrink: 0;

}

.Descripcion{
    width: 1000px;
    margin: auto;
    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.Speaker1{
    width: 300px;
    height: 250px;
    /*display: block;
    float: left;
    margin-left: 148px;*/

}

.Speaker2{
    width: 300px;
    height: 250px;
    /*display: block;
    float: left;
    margin-left: 75px;*/

}

.Speaker3{
    width: 300px;
    height: 250px;
    /*display: block;
    float: right;
    margin-right: 148px;*/

}

.axe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.speaker-container {
    display: inline-block; 
    text-align: center; 
    margin: 10px; 

  }


  .speaker-container p {
    margin-top: 5px; 


  }