.Speakers {
    aspect-ratio: 16/9;
    background-color: #EEEEEE;


}

.Title {
    position: absolute;
    bottom: 160px;
    left: 9.8%;
    width: 534px;
    height: 145px;
    flex-shrink: 0;
    color: white;
    font-family: Literata;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.BigPic {
    width: 1346px;
    height: 400px;

    flex-shrink: 0;

}

.Descripcion {
    width: 1000px;
    margin: auto;
    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.Speaker {
    width: 300px;
    height: 250px;
    /*display: block;
    float: left;
    margin-left: 148px;*/

}

.Bio {
    color: #000;
    width: 280px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5%;
}



.axe {
    display: flex;
    flex-wrap: wrap;
    /* Add this property to allow wrapping */
    justify-content: space-evenly;
    height: fit-content;
}

.speaker-container {
    text-align: center;
    margin: 10px;
    /* Add margin to separate the speaker containers */
    flex-basis: calc(33.33% - 130px);
    /*Distribute width equally for 3 items per row*/
}


.speaker-container p {
    margin-top: 5px;


}

.center-bottom-box {
    background-color: #EEEEEE;
    color: #000; /* Change the text color to black */
    padding: 10px;
    text-align: center;
    height: 50px;
    border: 2px solid black;
    display: flex; /* Use flex display */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
  }
  
  .center-bottom-box a {
    color: black; /* Link color */
    text-decoration: none; /* Remove underline from the link */
    margin-left: 10px; /* Add some spacing between the text and the link */
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }