.Speakers{
    aspect-ratio: 16/9;

}

.Title{
    position: absolute;
    bottom: 160px;
    left: 9.8%;
    width: 534px;
    height: 145px;
    flex-shrink: 0;

    color: white;

    font-family: Literata;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.background{
    width: 1346px;
    height: 400px;
    flex-shrink: 0;

}