.Speakers {
    aspect-ratio: 16/9;
}

.Name {
    color: #000;
    font-family: Arial Rounded MT Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.Title {
    position: absolute;
    bottom: 190px;
    left: 9.8%;
    width: 534px;
    height: 145px;
    flex-shrink: 0;
    color: white;
    font-family: Literata;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.BigPic {
    width: 100%;
    height: 400px;
    flex-shrink: 0;
}

.Descripcion {
    width: 1000px;
    margin: auto;
    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Speaker {
    width: 300px;
    height: 250px;
}

.Bio {
    color: #000;
    width: 280px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5%;
}

.axe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
}

.speaker-container {
    text-align: center;
    margin: 10px;
    flex-basis: calc(33.33% - 130px);
    margin-top: 5px;
}

.center-bottom-box {
    background-color: #EEEEEE;
    color: #000;
    padding: 10px;
    text-align: center;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-bottom-box a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-container-speakers {
  width: 100%;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.header-title-speakers {
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 1rem;
}

.header-image-speakers {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}

.image-overlay-speakers {
  position: relative;
  width: 100%;
  height: 55vh;
  overflow: hidden;
}

.image-overlay-speakers::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-hover-effect:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adds a shadow to give a 'lifted' effect */
  transform: translateY(-5px); /* Optional: slightly lifts the card up */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for the effect */
}

@media (max-width: 769px) {
  .header-container-speakers {
    width: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
  }

  .header-title-speakers {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 1rem;
  }

  .header-image-speakers {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .image-overlay-speakers {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
}


@media (max-width: 500px) {
  .header-container-speakers {
    width: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
  }

  .header-title-speakers {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 1rem;
  }

  .header-image-speakers {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .image-overlay-speakers {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .header-container-speakers {
    width: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
  }

  .header-title-speakers {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 1rem;
  }

  .header-image-speakers {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }

  .image-overlay-speakers {
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
  }
}
